<!DOCTYPE html>
<html>
<head>
  <title>Japan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
  <div class="logoarea">
    <a href="/"><%= image_tag 'Tokyo.jpg' %></a>
      <div class="navi-area">
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to image_tag('tokyo-signout.jpg'), destroy_user_session_path, method: :delete %></li>
            <li><a href="/japans/new"><%= image_tag 'tokyo-post.jpg' %></a></li>
            <li><a href="/users/<%= current_user.id %>"><%= image_tag 'tokyo-mypage.jpg' %></a></li>
        <% else %>
            <li><%= link_to image_tag('tokyo-signin.jpg'), new_user_session_path, :class => 'post' %></li>
            <li><%= link_to image_tag('tokyo-signup.jpg'), new_user_registration_path, :class => 'post' %></li>
        <% end %>
            <li><a href="/"><%= image_tag 'tokyo-search.jpg' %></a></li>
            <li><a href="/"><%= image_tag 'tokyo-map.jpg' %></a></li>
          </ul>
      </div>
    </div>
</header>

  <div class="main_box">
    <%= yield %>
  </div>

</body>
</html>
